<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[ %d{HH:mm:ss.SSS} ] [ %p ] - [ %t ] - [ %l ]- %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.github.vertx.jersey.examples" level='debug' />
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>